body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
  }
  
  .header {
    background: navy;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .menu {
    background: #333;
    padding: 10px;
    text-align: center;
  }
  
  .menu a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .content {
    padding: 20px;
    background: white;
  }
  
  .box {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .footer {
    background: navy;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
