.h { color: navy; font-size: 20px; font-family: Arial; }
.a { color: brown; font-size: 16px; font-family: Georgia; }
.b { color: green; font-size: 15px; font-family: Verdana; }
.c { color: purple; font-size: 17px; font-family: cursive; }
.d { color: maroon; font-size: 18px; font-family: serif; }
.e { color: red; font-size: 14px; font-family: Arial; }
.f { color: pink; font-size: 14px; font-family: Times; }
.g { color: red; font-size: 16px; font-family: sans-serif; }
.i { color: magenta; font-size: 15px; font-family: Courier; }
.j { color: orange; font-size: 16px; font-family: 'Comic Sans MS'; }

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th {
  background: lightgreen;
}

caption {
  font-weight: bold;
}